@model ProductType
@{
    ViewData["Title"] = "Edit";
}



<fieldset class="border p-2 mb-2">
    <legend class=" text-center display-6">
        Edit Product Type
    </legend>
</fieldset>
<div class="border px-2 mb-2">
    <div class="row">
        <div class="col-4"></div>

        <div class="col-8 mt-2">

            <form method="post" asp-controller="ProductType" asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="_Key" value="@Model._Key" />
                <div class="form-group row mb-2">
                    <label asp-for="Name" class="col-form-label col-2"></label>
                    <div class="col-8">
                        <input type="text" asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger" />
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label asp-for="Description" class="col-form-label col-2"></label>
                    <div class="col-8">
                        <textarea type="text" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger" />
                    </div>
                </div>
                <div class="form-group row mb-2">

                    <div class="col-8 offset-2">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

@section Styles
{
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
}
@section Scripts
{
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

